<page-header [title]="'上链存证'" [autoBreadcrumb]="false"></page-header>
<form nz-form [formGroup]="form" [nzLayout]="'vertical'" labelWidth="200">
  <nz-card [nzTitle]="nzCardTitle" [nzBorderless]="false" [nzBodyStyle]="{ 'border-color': 'silver' }">
    <ng-template #nzCardTitle>
      <h3>文件存证</h3>
      <nz-card-meta nzDescription="上传文件进行存证"> </nz-card-meta>
    </ng-template>
    <nz-row [nzGutter]="0">
      <nz-col [nzSpan]="24">
        <nz-form-item>
          <!-- <nz-form-label nzFor="evidenceData"><i nz-icon [nzType]="'file'"></i>上链文件</nz-form-label> -->

          <nz-form-control nzErrorTip="请输入需要上链的数据" [nzSpan]="16" [nzOffset]="4">
            <nz-upload
              style="width: 100%"
              [(nzFileList)]="fileList"
              [nzBeforeUpload]="beforeUpload"
              [nzFileListRender]="null"
              (nzChange)="onUploadChange($event)"
            >
              <ng-template #fileListRender> 111 </ng-template>
              <button nz-button [nzBlock]="true" style="height: 100px; font-size: x-large">
                <i nz-icon nzType="upload"></i>
                选择文件
              </button>
            </nz-upload>
            <div *ngIf="fileList.length > 0" style="font-size: large; padding: 2px"
              ><i nz-icon style="color: rgba(0, 0, 0, 0.45)" nzType="gold" nzTheme="outline"></i>
              <span style="margin-left: 10px">文件大小：{{ fileList[0].size }} Bytes</span>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>
            <label formControlName="evidenceName"
              ><span [style]="{ color: evidenceName.value ? 'black' : 'rgb(0,0,0,0.25)' }">存证名称</span
              ><i
                nz-tooltip
                nzTooltipTitle="可选项，给定存证的名称，用于标识存证，方便之后存证的检索。"
                nz-icon
                nzType="question-circle"
                nzTheme="outline"
                style="margin-left: 4px"
              ></i
            ></label>
          </nz-form-label>

          <nz-form-control
            nzFor="evidenceName"
            [nzErrorTip]="'请输入存证的名称，最多' + evidenceNameMaxChar + '字符，不能包含空格'"
            [nzSpan]="8"
          >
            <nz-input-group [nzSuffix]="evidenceNameClearTpl" style="width: 100%">
              <input nz-input formControlName="evidenceName" placeholder="" />
              <ng-template #evidenceNameClearTpl>
                <i
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  *ngIf="evidenceName.value"
                  (click)="evidenceName.setValue(null)"
                ></i>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card nzTitle="">
    <nz-row [nzGutter]="0">
      <nz-col [nzSm]="24">
        <nz-form-item>
          <!-- <nz-form-label nzFor="name"></nz-form-label> -->
          <nz-form-control nzErrorTip="---">
            <button
              nz-button
              [nzType]="'primary'"
              nzSize="large"
              [nzLoading]="uploading"
              [disabled]="form.invalid || fileList.length == 0"
              style="margin-top: 16px"
              (click)="handleUpload()"
            >
              {{ uploading ? '上传中' : '提交上传' }}
            </button>
            <!-- <button nz-button class="ml-sm">保存</button> -->
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
</form>
