<page-header [title]="'上链验证'" [autoBreadcrumb]="false">输入数据，验证数据是否已经上链</page-header>

<form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'vertical'" labelWidth="200">
  <nz-card nzTitle="上链验证" [nzBodyStyle]="{ 'border-color': 'silver' }">
    <nz-row [nzGutter]="0">
      <nz-col [nzSpan]="18">
        <nz-form-item>
          <nz-form-label nzFor="evidenceData"><i nz-icon [nzType]="'file'"></i>验证数据</nz-form-label>
          <nz-form-control nzErrorTip="请输入需要验证的数据">
            <textarea nz-input formControlName="evidenceData" [nzAutosize]="{ minRows: 16 }" placeholder="..."></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="1"></nz-col>
      <nz-col [nzSpan]="5">
        <nz-form-item>
          <nz-form-label nzFor="username"><i nz-icon [nzType]="'user'"></i>上链用户</nz-form-label>
          <nz-form-control nzErrorTip="请选择需要验证的数据的上链用户">
            <nz-select *ngIf="isLoading" [nzPlaceHolder]="'...'" formControlName="username">
              <ng-container *ngFor="let opt of optionList">
                <nz-option *ngIf="isLoading" [nzValue]="opt" [nzLabel]="opt"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card nzTitle="">
    <nz-row [nzGutter]="0">
      <nz-col [nzSm]="24">
        <nz-form-item>
          <!-- <nz-form-label nzFor="name"></nz-form-label> -->
          <nz-form-control nzErrorTip="---">
            <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">验证</button>
            <!-- <button nz-button class="ml-sm">保存</button> -->
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
</form>
