<page-header [title]="'数据上链'">简单输入数据，即可完成上链存证</page-header>

<form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'vertical'" labelWidth="200">
  <nz-card nzTitle="数据上链" [nzBodyStyle]="{ 'border-color': 'silver' }">
    <nz-row [nzGutter]="0">
      <nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzFor="textData"><i nz-icon [nzType]="'file'"></i>上链内容</nz-form-label>
          <nz-form-control nzErrorTip="请输入需要上链的数据">
            <textarea nz-input formControlName="textData" [nzAutosize]="{ minRows: 16 }" placeholder="..."></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <label nz-checkbox formControlName="evidenceNameChecked" (ngModelChange)="evidenceNameCheckboxChanged($event)">存证名称</label>
          <nz-form-control
            nzFor="evidenceName"
            [nzErrorTip]="'请输入存证的名称，最多' + evidenceNameMaxChar + '字符，不能包含空格'"
            [nzSpan]="8"
          >
            <input nz-input formControlName="evidenceName" placeholder="" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="1"></nz-col>
      <!-- <nz-col [nzSpan]="1"></nz-col>
      <nz-col [nzSpan]="5">
        <nz-form-item>
          <nz-form-label nzFor="username"><i nz-icon [nzType]="'user'"></i>上链用户</nz-form-label>
          <nz-form-control nzErrorTip="请选择上链的用户">
            <nz-select *ngIf="isLoading" [nzPlaceHolder]="'...'" formControlName="username">
              <ng-container *ngFor="let opt of optionList">
                <nz-option *ngIf="isLoading" [nzValue]="opt" [nzLabel]="opt"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col> -->
    </nz-row>
  </nz-card>
  <nz-card nzTitle="">
    <nz-row [nzGutter]="0">
      <nz-col [nzSm]="24">
        <nz-form-item>
          <!-- <nz-form-label nzFor="name"></nz-form-label> -->
          <nz-form-control nzErrorTip="---">
            <button nz-button nzType="primary" nzSize="large" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
            <!-- <button nz-button class="ml-sm">保存</button> -->
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
</form>
